<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="discography.css">
    <title>Playboi Carti Discography</title>
</head>
<body>
    <h1>Album Title</h1>
    <img src="../Medien/filler.png" alt="Album Cover">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est </p>
    <div class="songList">
        <ul>
            <li>Song 1</li>
            <li>Song 2</li>
            <li>Song 3</li>
            ...
        </ul>
    </div>
</body>
</html>