@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

:root {
    --primary-color: #0D1B1E;
    --secondary-color: #fffbfc;
}

body {
    background-color: var(--primary-color);
}

h1 {
    color: var(--secondary-color);
    text-align: center;
    font-family: "Notable", sans-serif;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: var(--secondary-color);
    margin-top: 2rem;
}

p {
    color: var(--secondary-color);
    margin: 1rem 2rem;
}

.songList {
    list-style-type: none;
    padding: 0;
}

.songList ul {
    padding: 0;
}

.songList li {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}