<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>Playboi Carti Discography</title>
  </head>
  <body>
    <header>
        <h1>Playboi Carti Discography</h1>
        <nav>
          <a href="#about"><button>About</button></a>
          <a href="#albums_title"><button>Music</button></a>
          <a href="#tours"><button>Tours</button></a>
          <a href="#merch"><button>Merch</button></a>
          <a href="#"><button>Contact</button></a>
        </nav>
    </header>
    <main>
      <div class="content">
        <div class="mainDiv">
          <h1 id="about">About</h1>
          <p style="margin-right: 8rem; margin-left: 8rem; color: white;">

            Playboi Carti, born Jordan Terrell Carter, is an influential rapper and songwriter from Atlanta, Georgia. Known for his unique vocal style and energetic performances, Carti emerged in the hip-hop scene with a fresh, unconventional approach. His music is characterized by its minimalist production, catchy ad-libs, and an infectious, carefree vibe that resonates with a wide audience.

            Carti's rise to fame began with the release of his debut self-titled mixtape in 2017, which featured hit tracks like "Magnolia" and "wokeuplikethis*." These songs showcased his ability to create infectious hooks and set the stage for his rapid ascent in the music industry. His follow-up studio album, "Die Lit," released in 2018, further solidified his position as a significant figure in contemporary rap. The album's experimental sound and mosh-pit anthems received widespread acclaim, with tracks like "Shoota" featuring Lil Uzi Vert and "R.I.P." becoming fan favorites.

            In 2020, Carti released his highly anticipated sophomore album, "Whole Lotta Red." The project debuted at number one on the Billboard 200, reflecting the immense hype and anticipation surrounding its release. "Whole Lotta Red" is noted for its darker, more aggressive tone, blending punk and goth influences with trap music. This album continued to push the boundaries of his signature style, making it both a polarizing and influential release.

            Playboi Carti's impact extends beyond his music, influencing fashion and culture with his distinct aesthetic. He is known for his bold fashion choices and has collaborated with several high-profile brands, cementing his status as a trendsetter in the hip-hop community. With a dedicated fanbase and a reputation for innovation, Playboi Carti remains a prominent and dynamic force in modern rap.</p>
        </div>
        <div class="picture-list-container mainDiv">
          <h1 id="albums_title">Albums</h1>
            <div class="picture-list">
              <div class="albumCoverImg"><a href="./discography.html?id=0"><img src="https://i.scdn.co/image/ab67616d00001e02e6778eb47c6b217e4412850d" /></a></div>
              <div class="albumCoverImg"><a href="./discography.html?id=1"><img src="https://i.scdn.co/image/ab67616d0000b273e31a279d267f3b3d8912e6f1" /></a></div>
              <div class="albumCoverImg"><a href="./discography.html?id=2"><img src="https://i.scdn.co/image/ab67616d0000b273a1e867d40e7bb29ced5c0194" /></a></div>
              <div class="albumCoverImg"><a href="./discography.html?id=3"><img src="https://i.scdn.co/image/ab67616d0000b27398ea0e689c91f8fea726d9bb" /></a></div>
            </div>
        </div>
        <div class="mainDiv">
          <h1 id="tours">Tours</h1>
          <div class="ToursList">
            <a href="https://splash-festival.de/en/tickets" target="_blank"><div class="tour"><h2>SPLASH! FESTIVAL 2024</h2><p>JUL 05</p><p>GRÄFENHAINICHEN, GERMANY</p></div></a>
            <a href="https://europe.rollingloud.com/tickets/" target="_blank"><div class="tour"><h2>ROLLING LOUD EUROPE 2024</h2><p>JUL 06</p><p>EBREICHSDORF, AUSTRIA</p></div></a>
            <a href="https://www.ticketmaster.ch/event/openair-frauenfeld-2024-%7C-3-tages-ticket-tickets/18389?clickId=y3eStbzUzxyKR7zUPb3vE3Q-UkHS4%3ATz2VwT0c0" target="_blank"><div class="tour"><h2>OPENAIR FRAUENFELD 2024</h2><p>JUL 12</p><p>FRAUENFELD, SWITZERLAND</p></div></a>
            <a href="https://www.tixyapp.com/en/event/clout" target="_blank"><div class="tour"><h2>CLOUT FESTIVAL 2024</h2><p>JUL 14</p><p>WARSAW, POLAND</p></div></a>
          </div>
        </div>
        <div class="mainDiv">
          <div class="subDiv">
            <a href="https://opiumopium.com/" target="_blank">
              <h1 id="merch">Shop Merch</h1>
            </a>
          </div>
        </div>


      </div>
    </main>
  <footer>
    <p>© 2021 Playboi Carti</p>
  </footer>
  </body>
</html>
