<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>Playboi Carti Discography</title>
  </head>
  <body>
    <header>
        <h1>Playboi Carti Discography</h1>
        <nav>
          <button>About</button>
          <button>Music</button>
          <button>Tours</button>
          <button>Merch</button>
          <button>Contact</button>
        </nav>
    </header>
    <main>
      <div class="content">
        <div class="mainDiv">
          <h1 id="about">About</h1>
          <p style="margin-right: 8rem; margin-left: 8rem; color: white;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</p>
        </div>
        <div class="picture-list-container mainDiv">
          <h1 id="albums_title">Albums</h1>
          <div class="picture-list">
            <img src="../Medien/filler.png"/>
            <img src="../Medien/filler.png" />
            <img src="../Medien/filler.png" />
          </div>
        </div>
        <div class="picture-list-container mainDiv">
        <h1 id="singles_title">Singles</h1>
          <div class="picture-list">
            <img src="../Medien/filler.png"/>
            <img src="../Medien/filler.png" />
            <img src="../Medien/filler.png" />
          </div>
        </div>
        <div class="mainDiv">
          <h1>Tours</h1>
        </div>
        <div class="mainDiv">
            <h1>Merch</h1>
        </div>
      </div>
    </main>
  <footer>
    <p>© 2021 Playboi Carti</p>
  </footer>
  </body>
</html>
